<html>

<head>
    <title>{{title}}</title>
    <style>
        html, body {
            background: {{theme.backgroundColor}};
            color: {{theme.fontColor}};
        }
    </style>
</head>

<body>
    <h1>{{title}}</h1>
    <h2>{{author}}</h2>
</body>

</html>
