<html>

<head>
    <title>{{title}}</title>
    <style>
    .navigation > a {
        display: block;
    }
    </style>
</head>

<body>
    <h1>{{title}}</h1>
    <div class="navigation">
        {{#if urls}}
            {{#each urls}}
                <a href="{{this}}">{{this}}</a>
            {{/each}}
        {{else}}
            <p>No templates rendered in this session.</p>
        {{/if}}
    </div>
</body>

</html>
